.r_footer
{
	width:99%;
	margin:0 .5% 0 .5%;
	background-color:rgb(245,245,245);
}

.r_footer_img
{
	width:100%;
	margin:0;
	padding:0;
}

.r_footer_info
{
	width:100%;
	display:inline-block;

}
.r_contact_details
{
	padding:0;
	width:30%;
	margin:2% 2% 0 2%;
	//background:red;
	float:left;
}
.r_contact_details ul
{
	list-style-type:none;
	width:96%;
	margin:0;
	padding:0;
}
.r_contact_details li
{
	width:100%;
	display:inline-block;
	margin-bottom:2%;
}
.r_contact_details p
{
	float:left;
	margin:6% 0 5% 5%;
	font-size:18px;
	width:75%;
	color:rgb(90,74,66);
}
.r_heading
{   text-align:center;
	font-size:25px;
	width:100%;
	margin:0;
	padding:0;
	font-family:"Century Gothic",Arial, Helvetica, serif;
}
.r_contact_icon
{
	float:left;
	width:20%;
}

.r_social_details
{
	width:30%;
	margin:2% 2% 0 2%;
	//background:green;
	float:left;
}
.r_social_details  a
{
	text-decoration:none;
}
.r_icon
{
	width:27%;
	margin:0 1%;
}
.r_left_align
{
	margin-left:16%;


}

.r_map
{
	width:28%;
	margin:2% 2% 0 2%;
	//background:red;
	padding:0;
	float:left;
}
.r_map_frame
{
	width:98%;
	height:270px;
	margin:0;
	padding:1%;
	background:rgb(90,74,66);
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}


//xs-phones
[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}
//sm-tablets
@media only screen and (min-width:768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
//md-small laptops
@media only screen and (min-width:992px) {
}
//lg-laptops & desktops
@media only screen and (min-width:1200px) {
}
@media only screen and (min-width:1440px) {
  .container {
    width:1200px;
  }
}
@media only screen and (min-width:1920px) {
}
